h2{
    text-align: center;

}

#titre{
    text-align: center;
}
form{
    position: relative;
    width: 20%;
    padding-left: 10px;
}
#submit{
    position: absolute;
    left: 35%;

}
.textField{
position: relative;
    right: 10%;
}
#conteneur{
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
}
.categ{
    margin-left: 2%;
    border-radius: 10px;
}
#licateg{
    padding-top: 10px;
    margin: 15px;
    width: 150px;
    height: 30%;
}

.list-group-item{
    margin: 5px;
    text-align: center;
}
.listenews{
    position: relative;
    width: 60%;
}
.top{
    margin-right: 2%;

}

.page{
   position:relative;
}
#page{
    position: absolute;
    right: 40%;
    left: 40%;
}