h2{
    text-align: center;

}
header{
    display: block;
}
#titre{
    text-align: center;

}
#connexion{
    position:relative;
    width: 15%;
    padding-left:2%;
}
.textField{

}
#conteneur{

    display: flex;
    justify-content: space-between;

}
#categ{
    display: inline-block;
    vertical-align: top;
    width: 15%;
    margin: 10px;
}
#licateg{
    padding: 10px;
    margin: 15px;
    height: 30%;
}


#listenews{
    display: inline-block;
    width: 60%;
    height: 70%;
    margin-top: -10%;
}
#top{
    margin-right: 2%;
    display: inline-block;
    width: 15%;

}
.list-group-item{
    margin: 5px;
    text-align: center;
}
#ajout{
    display: inline-block;
}
#nbNews{
    display: inline-flex;
    position: absolute;
    right:30px;
    padding: 10px;

}

#page{
    position: absolute;
    width: 60%;
    left: 20%;
    text-align: center;

}
