#titre{
    text-align: center;
}

#connexion{
   text-align: left;
    width: 300px;
    padding-left: 20px;
}
.recherche{
     position: absolute;
     width:250px;
     text-align: center;
     right: 15px;
     top:150px;

 }
#btnrecherche:hover{
    background-color: #b92c28;
}

#conteneur{
    display: flex ;
    justify-content: space-around;
}
h2{
    text-align: center;
}
#categ{
    padding: 20px;
}
#tout{
    color: #fff;
    background-color:#337ab7;
}
#tout:hover{
    background-color: #286090;
    border-color: #204d74;
}
#tout:active{
    background-color: #286090;
    border-color: #122b40;
}
#listenews{
    padding:20px;
    min-width: 60%;
    max-width: 60%;
}
.news{
    padding: 10px;
    border: 1px solid grey;
    border-radius: 20px;
}
.news:hover{
    background-color: whitesmoke;
}

.titreArticle{
    font-size: 25px;

}
#top{
    padding:20px;
    max-width: 150px;
    min-width: 150px;
}
.list-group-item{
    text-align: center;
}

.page{
    text-align: center;
}