h2{
    text-align: center;

}
header{
    display: block;
}
#titre{
    text-align: center;

}
#deconnexion{
    padding: 10px;
    margin-left: 20px;
    border-color: #b22222;
    background-color: #b22222;
}
#deconnexion:hover{
    background-color: darkred;
}
#conteneur{
    display: flex ;
    justify-content: space-around;
}
h2{
    text-align: center;
}
#categ{
    padding: 20px;
}
#tout{
    color: #fff;
    background-color:#337ab7;
}
#tout:hover{
    background-color: #286090;
    border-color: #204d74;
}
#tout:active{
    background-color: #286090;
    border-color: #122b40;
}
#listenews{
    padding:20px;
    min-width: 60%;
    max-width: 60%;
}
.news{
    padding: 10px;
    border: 1px solid grey;
    border-radius: 20px;
}
.news:hover{
    background-color: whitesmoke;
}

.titreArticle{
    font-size: 25px;

}
#top{
    padding:20px;
    max-width: 150px;
    min-width: 150px;
}
.list-group-item{
    text-align: center;
}

#conteneurbas{
    display: flex;
    justify-content: space-between;
}
#nbNews{
    padding-right:1%;
}
#ajout{
    padding-left: 1%;
}
.page{
    text-align: center;
}